.Board {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image:
        linear-gradient(#333 1px, transparent 1.5px),
        linear-gradient(90deg, #333 1px, transparent 1.5px);
}

.Cell {
    background: rgb(0, 100, 100);
    position: absolute;
}

.controls {
    padding-top: 20px;
    padding-bottom: 50px;
    align-items: center;
    color: rgb(0, 100, 100);
    font-size: 12px;
    font-weight: bold;
}

.controls button {
    background-color: black;
    border: none;
    color: rgb(0, 100, 100);
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}

.controls button:hover {
    cursor: pointer;
    color: azure;
}

.controls input {
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgb(0, 100, 100, 0.5) !important;
    color: rgb(0, 100, 100);
    text-align: center;
    width: 100%;
    min-width: 30px;
    max-width: 100px;
    box-sizing: border-box;
    margin: 5px;
}

.controls input:hover {
    cursor: pointer;
    color: azure;
    border: 1px solid azure !important;
}

.controls input:focus {
    cursor: pointer;
    color: azure;
    border: 1px solid azure !important;
    outline: none;
}

input:focus-within,
input:focus-within+span {
    color: white;
}